<div class="row">

  <div class="col-md-12">
    <div class="form-group">
      <label for="email" class="col-form-label font-weight-bold ">Enter Email</label>

      <div class="row">
        <div class="col-md-3">
          <input [(ngModel)]="email" type="text" class="form-control" id="email">
        </div>

        <div class="col">
          <button (click)="onSearchClick()" class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md">

  </div>
</div>
<div class="row">
  <app-event-detail-table [width]="'1007px'" [height]="'300px'" [events]="events"
                          [isActionType]="false"></app-event-detail-table>
</div>
