<div class="modal-body">
    
    <div class="form-group">
        <label for="recipient-name" class="col-form-label font-weight-bold ">Event Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" id="recipient-name">
    </div>
    <div class="form-group">
        <label for="event-date" class="col-form-label font-weight-bold ">Event Date</label>
        <input [(ngModel)]="strDate" type="date" class="form-control" id="event-date">
    </div>
    <div class="form-group">
        <label for="event-startTime" class="col-form-label font-weight-bold ">Event Start Time</label>
        <input [(ngModel)]="startTime" type="time" class="form-control" id="event-startTime">
    </div>
    <div class="form-group">
        <label for="event-endTime" class="col-form-label font-weight-bold ">Event End Time</label>
        <input [(ngModel)]="endTime" type="time" class="form-control" id="event-endTime">
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label font-weight-bold ">Description</label>
        <textarea [(ngModel)]="description" type="text" class="form-control" id="description"></textarea>
    </div>

</div>
<div class="modal-footer">
    <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button (click)="onCreateEvent()" type="button" class="btn btn-primary">Create</button>
</div>
