/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.month-picker 
{
    margin-bottom: 10px;
}

.month-picker-body 
{
    margin-bottom: 10px;
}

.month-picker-cell 
{
    margin-bottom:10px;
}
