<div class="modal-body">
  <div class="container">

      <div class="row">
        <label class="font-weight-bold ">Event Name</label>
      </div>

      <div class="row">
        <label>{{name}}</label>
      </div>

      <div class="row mt-2">
        <label class="font-weight-bold ">Event Start Time</label>
      </div>
      <div class="row">
        <label>{{startTime | date : 'dd MMM yyyy  HH:mm' }}</label>
      </div>

      <div class="row mt-2">
        <label class="font-weight-bold ">Event End Time</label>
      </div>

      <div class="row">
        <label>{{endTime | date: 'dd MMM yyyy  HH:mm'}}</label>
      </div>

        <div class="row mt-2">
          <label class="font-weight-bold ">Description</label>
        </div>
        <div>
          <label>{{description}}</label>
        </div>

  <div class="modal-footer">
    <button (click)="modalRef.hide();" type="button" class="btn btn-secondary">Close</button>
  </div>
</div>
